.position-totals {
    max-width: 100%;
}

.stock-table-cell {
    border: none;
    padding: 0px;
    margin: 0px;
    background: transparent;
}

.table-cell {
    border: none;
    padding: 0px;
    margin: 0px;
    max-width: 75px;
    background: transparent;
}

.dividend-table {
    width:100%;
    overflow-x: auto;
    table-layout: fixed;
    word-wrap: break-word;
    display: block;
}

.option-chain-table {

}

.option-table {
    border: none;
    padding: 0px;
    margin: 0px;
    background: transparent;
    font-size: 10px;
    padding: 0px;
    max-width: 50px;
    word-wrap: break-word;
}

.expiry-col {
    max-width: 60px;
}