@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table
{
	border-collapse: collapse;
	background-color: white;
	margin-left:auto;
	margin-right:auto;
    width: 35px;
    height: 35px;
}

.sudoku-cell {
    width: 35px;
    height: 35px;
    text-align: center;
    outline: none;
    padding: 0px;
    border: none;
    font-size: 25px;
    margin: 0px;
    background-color: transparent;
}

.full-cell
{

}

.empty-cell
{
	color: blueviolet;
}

.wrong-cell
{
	color: red;
}

.topleft
{
	border-top: black solid 2px !important;
	border-left: black solid 2px !important;
}

.topmidl
{
	border-top: black solid 2px !important;
}

.toprght
{
    border-top: black solid 2px !important;
	border-right: black solid 2px !important;
}

.midleft
{
	border-left: black solid 2px !important;
}

.midrght
{
	border-right: black solid 2px !important;
}

.botleft
{
	border-bottom: black solid 2px !important;
	border-left: black solid 2px !important;
}

.botmidl
{
	border-bottom: black solid 2px !important;
}

.botrght
{
    border-bottom: black solid 2px !important;
	border-right: black solid 2px !important;
}